body {
    background-color:#303641;
    font-family: 'Roboto', sans-serif;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.nav > li {
    padding-top: 15px;
}
.navbar-default .navbar-nav > li > a {
    color: #B9C922;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    border: 1px solid #B9C922;
}

.navbar-brand {
    font-size: 30px;
}

.jumbotron {
    background-color: #303641;
}

.btn-success {
    color: #FFF;
    background-color: #B9C922;
    border-color: #B9C922;
}
.checkbox label, .radio label {
    color: antiquewhite;
}

a:focus, a:hover {
    color: #B9C922;
    text-decoration: none;
}

.text-success {
    color: #B9C922;
}

a.text-success:focus, a.text-success:hover {
    color: #B9C922;
}

.header {
	background-color:#373E4A;
	padding-top: 20px;
	padding-bottom: 20px;
}

.h1 {
	vertical-align: middle;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: azure;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.table > thead > tr > th {
    color: aqua;
}